# see venv .dev

# constrain by non-dev requirements
-c requirements.txt

# build and distribute via pypi
build
twine>=5.1.1

# testing
pytest

# lib
cursor
python-dateutil>=2.9, <3.0
progress>=1.6
requests>=2.32
